



body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 768px) {
.res{
width:100%;
height:100%	;
}
}

hr { 
  display: block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: auto;
  margin-right: auto;
   border: 4px solid #fff;
  
  border-width: 3px;
  width:90%;
 

}

.marquee2{
	
	
	background:#f7f7f7;
}
.marquee2 marquee{
	
	transition:all 0.5s;
	direction:left;
	
}
.marquee2 img{
	margin-left:18px;
}

a {
  color: #ff4800;
}

a:hover, a:active, a:focus {
  color: #ff4800;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}



/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #ff4800;
  color: #fff;
}


.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
.form-control::placeholder {
  font-size: 0.95rem;
  color: #000;
  font-style: italic;
}

.carousel-caption h1{
	font-size:3.6vw;
}


/*--------------------------------------------------------------
# Header padding: 30px 0;
height: 92px;
 position: fixed;
--------------------------------------------------------------*/
#header {
  background: linear-gradient(to left, #800000 0%, #ff9999 100%);
  padding: 20px 0;
  height: 100px;
  transition: all 0.5s;
  position:fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 997;
}

#header #logo {
  float: left;
 
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin-top:-20px;
  width:100px;
  height:100px;
}

@media (max-width: 768px) {
  #header{
	  height:80px;
  }
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 80px;
	max-width:80px;
	margin-top:-20px;
  }
}

.divider{
	height:100px;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;

  background-size: cover;
  position: relative;
}



#hero:before {
  content: "";
   background: #f7f7f7;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: left;
  margin-left: 100px;
  margin-top:10px;
}

@media (max-width: 985px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: 'cairo', sans-serif;

  font-size: 18px;
  outline: none;
}
.nav-menu a:hover {

  font-size: 20px;
  
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  
}

.nav-menu ul {
  margin: 4px 0 0 0;
  border: 1px solid #e7e7e7;
}

.nav-menu ul li {
  background: #fff;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li a:hover {
  background: #ff4800;
  color: #fff;

}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #000;
}

@media (max-width: 985px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: linear-gradient(to left, #800000 0%, #ff9999 100%);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight:500;
  font-family: "Poppins", sans-serif;
}

#mobile-nav ul li a:hover {
  color: #fff;
  background:#ff4800;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  
  

}


#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #ff4800;
}

#mobile-nav ul .menu-item-active {
  color: #000;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 26px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
  
  
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  
  font-family: "Poppins", sans-serif;

}


@keyframes marquee {
  0% {
    margin-left: 100%;
    transform: translateX(0%);
  }
  100% {
    margin-left: 0;
    transform: translateX(-100%);
  }
}

.moving {
  overflow: hidden;
  height:30px;
    background:#ccc;
}
  .marquee {
    animation: marquee 30s linear infinite;
    display: inline-block;
    white-space: nowrap;
	
  }

    &:hover {
      animation-play-state: paused;
    }


.text-styling {

  font-weight:550;
  font-size:20px;
  color:#ff4800;
  font-family:cairo;
  
}
 .news .title {
  color: #333;
  font-weight: 700;
  font-size: 26px;
  margin-left:130px;
}

/* about Us Section
--------------------------------*/



#about {
  background: #f7f7f7;
  padding: 80px 0;
  
}

#about .about-container .background {
  min-height: 300px;
  width:500px;
  background: url(../img/about-img.jpg) center top no-repeat;
  margin-bottom: 10px;
}
#about .about-container .background3 {
  min-height: 300px;
  width:500px;
  background: url(../img/about.jpg) center top no-repeat;
  margin-bottom: 10px;
}
#about .about-container .background2 {
  height: 300px;
  width:300px;
  margin-bottom: 10px;
}

#about .about-container .content {
  background: #fff;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 26px;
}

#about .about-container .title2 {
  color: #757686;
  font-weight: 700;
  font-size: 26px;
}
#about .about-container .title3 {
  color: #000;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 768px) {
  #about .about-container .title {
    padding-top: 15px;
  }
}

#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #ff4800;
}

#about .about-container .icon-box .icon i {
  color: #ff4800;
  font-size: 24px;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

#about .about-container .icon-box .title a {
  color: #111;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/* Facts Section
--------------------------------*/
#news .title {
 color: #333;
  font-weight: 700;
  font-size: 32px;
}
#news .card-title {
  color: #757686;
  font-weight: 700;
  font-size: 20px;
}

/* Services Section
--------------------------------*/
#services {
  background: #fff;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#services .box {
  padding: 50px 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  height: 200px;
  position: relative;
  background: #fafafa;
}

#services .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #ff4800;
}

#services .icon a {
  display: inline-block;
}

#services .icon i {
  color: #fff;
  font-size: 24px;
}

#services .box:hover .icon {
  background: #fff;
  border: 2px solid #ff4800;
}

#services .box:hover .icon i {
  color: #ff4800;
}

#services .box:hover .icon a {
  color: #ff4800;
}

#services .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#services .title a {
  color: #111;
}

#services .description {
  font-size: 14px;
  line-height: 24px;
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;
  padding: 80px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#call-to-action .cta-btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #ff4800;
  border: 2px solid #ff4800;
}

/* Portfolio Section
border-radius:10px;
	border:2px solid #ff0000;
--------------------------------*/
.img-product{
	width:100%;
	height:200px;
	
	
}
@media (width: 769px) {
.img-product{
	width:100%;
	height:400px;
	
	
}
}
.img-product2{
	margin-left:2px;
	margin-top:2px;
	width:48%;
	height:200px;
	
	
	
}
#portfolio {
  background: #f7f7f7;

}

#portfolio #portfolio-wrapper {
  padding-right: 15px;
  
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 0 0 45px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
  padding: 10px 22px;
  font-size: 14px;
  font-weight:bold;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
  background: #ff4800;
  color: #fff;
}

#portfolio .portfolio-item {
  position: relative;
  height: 200px;
  overflow: hidden !important;
  margin-bottom: 15px;
  transition: all 350ms ease;
  transform: scale(1);
}

#portfolio .portfolio-item a {
  display: block;
  margin-right: 15px;
}

#portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  height:180px;
  border:2px solid #000;
  border-radius:5%;
}

#portfolio .portfolio-item .details {
  height: 50px;
  background: #ff4800;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#portfolio .portfolio-item .details h4 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 8px 0 2px 8px;
  margin: 0;
}

#portfolio .portfolio-item .details span {
  display: block;
  color: #fff;
  font-size: 13px;
  padding-left: 8px;
}

#portfolio .portfolio-item:hover .details {
  bottom: 0;
}

#portfolio .portfolio-item:hover img {
  top: -30px;
}

/* Team Section
--------------------------------*/
#team {
  background: #f7f7f7;
  padding: 80px 0 60px 0;
  
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
}

#team .member .pic img {
  max-width: 100%;
  height:100%;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #b3b3b3;
}

#team .member .social a:hover {
  color: #ff4800;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/
#contact {
  background: #f7f7f7;
  padding: 80px 0 40px 0;
}




#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #ff4800;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 16px;
}

#contact .info .email p {
  padding-top: 5px;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#contact .social-links a:hover {
  background: #ff4800;
  color: #fff;
}

#contact .form #sendmessage {
  color: #ff4800;
  border: 1px solid #ff4800;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background: #ff4800;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
  background: #51d8ad;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: linear-gradient(to left, #800000 0%, #ff9999 100%);
  padding: 10px 0;
  color: #fff;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
#footer .credits a {
  font-weight:600;
  font-size: 15px;
  color: #fff;
}








.simple-marquee-container *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	font-family:Arial, "cairo", Helvetica, sans-serif;
}
.simple-marquee-container {
	width: 100%;
	background:	#f7f7f7;
	float: left;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	height: 45px;
	position: relative;
	cursor: pointer;
	margin-top:-35px;
	margin-bottom:10px;
}

.simple-marquee-container .marquee-sibling {
	padding: 0;
	background: rgb(61, 61, 61);
	width: 10%;
	height: 45px;
	line-height: 42px;
	font-size: 20px;
	font-weight: normal;
	font-family:cairo;
	color: #ffffff;
	text-align: center;
	float: left;
	left: 0;
	z-index: 2000;
	
}
@media (max-width: 950px) {
  .simple-marquee-container .marquee-sibling{
    width: 20%;
  }
  
}


@media (max-width: 760px) {
  .simple-marquee-container .marquee-sibling{
    width: 40%;
  }
  
}
.simple-marquee-container .marquee, .simple-marquee-container *[class^="marquee"] {
	display: inline-block;
	white-space: nowrap;
	position:absolute;
}

.simple-marquee-container .marquee{
  margin-left: 25%;
}

.simple-marquee-container .marquee-content-items{
  display: inline-block;
  padding: 5px;
  margin: 0;
  height: 45px;
  position: relative;
}

.simple-marquee-container .marquee-content-items li{
  display: inline-block;
  line-height: 35px;
  color: red;
  font-size:18px;

	font-family:cairo;
}






.simple-marquee-container .marquee-content-items li:after{
	content: "|";
	margin: 0 1em;
}

@media (max-width: 985px) {
.simple-marquee-container .marquee-sibling {
	z-index: 99;
}
}
